PORT=3000

# MongoDB connection string
MONGODB_URI=

# SMTP / Mailer
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-app-password
MAIL_FROM="Ailo Notulen <your-email@gmail.com>"

# App
APP_URL=http://localhost:3000

# JWT
JWT_SECRET=
